---
layout: home
background: '/img/bg-index.jpg'
---

<!-- Home Post List -->
{% for post in site.posts limit : 10 %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
  <h2 class="post-title">{{ post.title }}</h2>
  {% if post.description %}
    <h3 class="post-subtitle">{{ post.description }}</h3>
  {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
  {% endif %}
  </a>
    <p class="post-meta">
      {{ post.date | date: '%B %d, %Y' }}            
    </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">查看所有 View All Posts &rarr;</a>
</div>
