.thoughtTitle {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 3vw 1vw 1vw;
}

.thoughtItem {
  margin: 1vw;
  padding: 1vw 2vw 0.5vw;
  border-style: none none none solid;
  border-width: 0.6vw;
  border-color: #9C9C9C;
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.thoughtItem p {
  font-size: 1.6vw;
  color: #50555a;
}

.thoughtItem span {
  font-size: 1.38vw;
  color: #838B8B;
  margin: 0.1em ;
}
