.thoughtTitle {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2em 1em 1em;
}

.thoughtItem {
  margin: 1em;
  padding: 1em 1em 0.5em;
  border-style: none none none solid;
  border-width: 0.38em;
  border-color: #9C9C9C;
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.thoughtItem p {
  color: #50555a;
}

.thoughtItem span {
  font-size: 0.8em;
  color: #838B8B;
  margin: 0.1em ;
}
